body{
	background-color: turquoise;
}
h1{
	font-size: 30px;
	color: darkviolet;
}

h2{
	color: darkred;
	font-size: 20px;
}

h2{
	color: purple;
}

.big{
	font-size: 60px;
}

.uppercase{text-transform: uppercase;

}

.big.uppercase{color: navy;

}

h1 span{
	color: violet;
}